android-tools
base
bash-completion
bluez-utils
chromium
code-features
code-marketplace
cups
docker
eog
exfat-utils
file-roller
gdm
gnome-backgrounds
gnome-control-center
gnome-screenshot
gnome-shell-extension-system-monitor-next-git
gnome-system-monitor
gnome-terminal
gnome-tweaks
gvfs-mtp
intel-ucode
libreoffice-still
libva-vdpau-driver
linux-firmware
linux-lts
linux-lts-headers
man-db
meld
nautilus
nordvpn-bin
noto-fonts
noto-fonts-cjk
noto-fonts-emoji
ntfs-3g
nvidia-dkms
p7zip
papirus-icon-theme
python-pip
qbittorrent
sushi
unrar
vi
vlc
wget
xdg-user-dirs
yay-bin
