base
bash-completion
bluez-utils
eog
exfat-utils
file-roller
filezilla
gdm
gnome-backgrounds
gnome-control-center
gnome-icon-theme
gnome-keyring
gnome-screenshot
gnome-shell-extension-system-monitor-git
gnome-system-monitor
gnome-terminal
gnome-tweaks
google-chrome
graphviz
gvfs-mtp
intel-ucode
libreoffice-still
libva-vdpau-driver
linux-firmware
linux-lts
linux-lts-headers
man-db
meld
mendeleydesktop-bundled
miniconda3
nautilus
networkmanager-openvpn
nordvpn-bin
noto-fonts
noto-fonts-emoji
ntfs-3g
nvidia-dkms
p7zip
papirus-icon-theme
qbittorrent
smartgit
spotify
sshfs
sushi
unrar
vi
visual-studio-code-bin
vlc
wget
xdg-user-dirs
xiaomi-adb-fastboot-tools
yay-bin
