base
bash-completion
bluez-utils
code-marketplace
cups
eog
exfat-utils
file-roller
gdm
gnome-backgrounds
gnome-control-center
gnome-icon-theme
gnome-keyring
gnome-screenshot
gnome-shell-extension-system-monitor-git
gnome-system-monitor
gnome-terminal
gnome-tweaks
google-chrome
gst-libav
gvfs-mtp
intel-ucode
libreoffice-still
libva-vdpau-driver
linux-firmware
linux-lts
linux-lts-headers
man-db
meld
nautilus
networkmanager-openvpn
nordvpn-bin
noto-fonts
noto-fonts-emoji
ntfs-3g
nvidia-dkms
p7zip
papirus-icon-theme
qbittorrent
spotify
sushi
totem
unrar
vi
wget
xdg-user-dirs
yay-bin
